<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="A">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div >
    <ion-list *ngIf="meusLivros.length >= 1">
      <div *ngFor="let livro of meusLivros">
        <ion-item-sliding>
          <ion-item-options side="start" routerLink="../cadastrar/{{ livro.ide_Livro }}">
            <ion-item-option color="success">Editar</ion-item-option>
          </ion-item-options>
  
          <ion-item>
              <ion-label>{{livro.titulo}}</ion-label>    
          </ion-item>
  
          <ion-item-options side="end" (click)="presentAlert(livro.ide_Livro)">
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="navegarPara('cadastrar')">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
