<ion-content [fullscreen]="true">
  <div id="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <form class="app-form">

      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-align: center;">REGISTRAR</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item class="nome">
            <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="nome" placeholder="Nome (*)" [(ngModel)]="registrarFilter.nome"></ion-input>
          </ion-item>
    
          <ion-item class="sobrenome">
            <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="sobrenome" [(ngModel)]="registrarFilter.sobrenome" placeholder="Sobrenome (*)"></ion-input>
          </ion-item>
    
          <ion-item class="email">
            <ion-input llabel="Floating label" labelPlacement="floating"  type="email" name="email" [(ngModel)]="registrarFilter.email" placeholder="Email (*)"></ion-input>
          </ion-item>
    
          <ion-item class="senha">
            <ion-input llabel="Floating label" labelPlacement="floating"  type="password" name="senha" [(ngModel)]="registrarFilter.senha" placeholder="Senha (*)"></ion-input>
          </ion-item>
    
          <ion-item class="confirmacaoSenha">
            <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="confirmacaoSenha" [(ngModel)]="registrarFilter.confirmacaoSenha" placeholder="Confirmação de Senha (*)"></ion-input>
          </ion-item>
    
          <ion-button color="success" expand="block" (click)="registrar()" class="btn-registrar">
            Registrar
          </ion-button>
    
        </ion-card-content>
      </ion-card>

      
      <div class="voltar">
        <h6>
          <a (click)="navegarPara('views/login')">Voltar</a>
        </h6>
        
      </div>
    </form>
    
    <br/>
    <br/>
  </div>

</ion-content>
