<ion-content [fullscreen]="true">
  <div id="container">
    <br/>
    <br/>
    <div id="name-app">
      <br/>
      <br/>    
        <strong class="capitalize">Registrar</strong>      
    </div>
    <br/>
    <br/>
    <form class="app-form">

      <ion-item class="nome">
        <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="nome" placeholder="Digite seu nome" [(ngModel)]="registrarFilter.nome"></ion-input>
      </ion-item>

      <ion-item class="sobrenome">
        <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="sobrenome" [(ngModel)]="registrarFilter.sobrenome" placeholder="Digite seu sobrenome"></ion-input>
      </ion-item>

      <ion-item class="cpf">
        <ion-input llabel="Floating label" labelPlacement="floating"  type="text" name="cpf" [(ngModel)]="registrarFilter.cpf" placeholder="Digite seu cpf"></ion-input>
      </ion-item>

      <ion-item class="email">
        <ion-input llabel="Floating label" labelPlacement="floating"  type="email" name="email" [(ngModel)]="registrarFilter.email" placeholder="Digite seu email"></ion-input>
      </ion-item>

      <ion-item class="senha">
        <ion-input llabel="Floating label" labelPlacement="floating"  type="password" name="senha" [(ngModel)]="registrarFilter.senha" placeholder="Digite sua senha"></ion-input>
      </ion-item>

      <ion-button color="success" expand="block" (click)="registrar()" class="btn-registrar">
        Registrar
      </ion-button>

      <div class="voltar">
        <h6>
          <a (click)="navegarPara('views/login')">Voltar</a>
        </h6>
        
      </div>
    </form>
    
    <br/>
    <br/>
  </div>

</ion-content>
