:root {
	--ion-background-color: #ffffff;
	--ion-background-color-rgb: 255,255,255;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 13%;
  transform: translateY(-13%);
}

#img {
  text-align: center !important;
}

#name-app, #btn-iniciar, #form {
  margin-top: 10%;
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.app-form {
    padding-left: 10px;
    padding-right: 20px;
}

.voltar {
  text-align: center;
}

.nome, .sobrenome, .cpf, .email, .senha {
    margin-top: 10px;
}

.btn-registrar {
    margin-top: 10px;
}